$color-primary: #180161;
$color-primary-20: #18016120;
$color-primary-40: #18016140;
$color-primary-80: #18016180;
$color-sub: #eb3678;

$nav-height: 4rem;
$username-input-height: 8rem;
$neighbours-height: 8rem;
