* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $color-primary;
}

html,
body,
#app {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
